PORT=5000
CLIENT_ORIGIN=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://3.237.76.223,http://3.237.76.223:5173

AWS_REGION=us-east-1
DYNAMODB_USERS_TABLE=Users
DYNAMODB_BOOKINGS_TABLE=Bookings
DYNAMODB_ROOMS_TABLE=Rooms
S3_ASSETS_BUCKET=boutique-hotel-assets
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:840868617113:HotelBookingNotifications
SES_FROM_EMAIL=
