PORT=5000
CLIENT_ORIGIN=http://localhost:5173

AWS_REGION=ap-south-1
DYNAMODB_USERS_TABLE=Users
DYNAMODB_BOOKINGS_TABLE=Bookings
DYNAMODB_ROOMS_TABLE=Rooms
S3_ASSETS_BUCKET=boutique-hotel-assets
SNS_TOPIC_ARN=
SES_FROM_EMAIL=
